@page
@model Lucrare_de_licenta.Pages.Identity.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Recuperare Parola";
}
<h1 class="mt-2 text-center">@ViewData["Title"]</h1>
<div class="row justify-content-center my-4">
    <div class="col-md-5">
        <section>
            <form id="account" method="post">
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="Input.Email" placeholder="Email" type="email"
                           autocomplete="on" />
                    <label class="form-label" asp-for="Input.Email">
                        Email
                    </label>
                </div>
                <div class="mx-5 mb-3">
                    <button type="submit" class="w-100 btn btn-lg btn-primary">
                        Trimite
                    </button>
                </div>
            </form>
        </section>
    </div>
</div>