@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Eroare.</h1>
<h2>A avut loc o eroare interna. Ne cerem scuze de incovenienta.<br/>
    Incerca-ti sa reincarcati pagina</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Cod eroare:</strong> <code>@Model.RequestId</code>
    </p>
}
