@page
@using Lucrare_de_licenta.Models
@using System.Diagnostics
@using Adventour.Data;
@model IndexModel
@{
    ViewData["Title"] = "Pagina Principala";
    List<Tara> lista_test = new List<Tara>
    {
        new Tara
        {
            cod_tara = 1,
            den_tara = "Portugalia",
            continent = 1,
            img_tara = Model.Imagepath + "\\Tari\\Portugalia.jpg"
        }
    };
    List<int> coduriContinente = lista_test.Select(t => t.continent).ToList();
}
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<div class="container-fluid mt-5">
    <form id="search-container" method="get" action="/Search">
        <div class="form-row d-flex align-items-stretch">
            <div class="form-floating flex-fill me-2">
                <input id="input-destinatie" class="form-control dropdown-toggle" name="destination"
                       placeholder="Destinatie" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                       autocomplete="off" />
                    <i class="fas fa-times"></i>
                <button type="button" style="display:none"
                    class="btn-close position-absolute top-50 translate-middle-y end-0 me-2">
                </button>
                <label for="destination">Destiantie</label>
                <ul class="dropdown-menu position-absolute start-0 w-100 p-3 mt-2 overflow-auto
                            rounded bg-white shadow-lg dropdown-custom">
                    <li class="my-1">
                        <button class="dropdown-item"
                            type="button" data-target="destination" data-value="exemplu"
                                onclick="document.getElementById('input-destinatie').value='Atena'">
                            <div>
                                <div class="fw-medium">Atena</div>
                                <small class="text-muted">Europa, Grecia</small>
                            </div>
                        </button>
                    </li>

                </ul>
            </div>
            <div class="form-floating flex-fill me-2">
                <input class="form-control" name="plecare" placeholder="Plecare"
                       data-bs-toggle="dropdown" data-bs-auto-close="outside"
                       autocomplete="off" id="input-plecare"/>
                <button type="button" style="display:none"
                        class="btn-close position-absolute top-50 translate-middle-y end-0 me-2">
                </button>
                <label for="plecare">Plecare Din</label>
                <ul class="dropdown-menu position-absolute start-0 w-100 p-3 mt-2 overflow-auto
                            rounded bg-white shadow-lg dropdown-custom">
                    <li class="my-1">
                        <button class="dropdown-item"
                            type="button" data-target="destination" data-value="exemplu"
                                onclick="document.getElementById('input-plecare').value='Baia Mare'">
                            <div>
                                <div class="fw-medium">Baia Mare</div>
                                <small class="text-muted">Maramures, Romania</small>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
                <div class="form-floating flex-fill me-2">
                    <select class="form-select" name="month">
                        <option value="">Oricand</option>
                        @{
                            var now = DateTime.Now;
                            for (int i = 0; i <= 12; i++) {
                                var month = now.AddMonths(i);
                                var val = month.ToString("MM-yyyy");
                                var txt = month.ToString("MMMM yyyy",
                                System.Globalization.CultureInfo.CurrentCulture);
                                <option value="@val">@txt</option>
                            }
                        }
                    </select>
                    <label for="month">Luna</label>
            </div>
            <div class="form-floating flex-fill me-2">
                <input type="number"
                        class="form-control"
                        name="persoane"
                        value="1"
                        min="1"
                        max="10">
                <label for="persoane">Pers.</label>
            </div>
            <div class="form-floating d-flex align-items-center align-items-md-stretch" 
            style="padding:5px 0">
                <button class="c-button" type="submit">Caută</button>
            </div>
        </div>
    </form>
</div>
@* RECOMANDARILE SITE-ULUI *@
<div id="container-destinatii" class="row-cols-1 row-cols-md-2 row-cols-lg-4 g-2">
    @{
        foreach(Tara tara in lista_test)
        {
            <div class="col d-flex justify-content-center">
                <a class="card-destinatie " href="/">
                    <img class="cd-img" src="@tara.img_tara" />
                    <div class="cd-title">
                        @tara.den_tara
                    </div>
                    @*call to action*@
                    <div class="cd-cta">
                        Caută acum
                    </div>
                </a>
            </div>
        }
    }
</div>
<div id="container-continente"
     class="row-cols-2 row-cols-md-3 row-cols-lg-5 g-2 justify-content-center">
    @{
        foreach(int codContinent in coduriContinente)
        {
            <a class="card-continent d-flex justify-content-center" href="/">
                <img class="cc-img mb-2" src="~/Resources/Continente/@(codContinent).svg"/>
                <div class="cc-title">
                    @switch (codContinent)
                    {
                        case 1:
                            <text>Europa</text>;
                            break;
                        case 2:
                            <text>Africa</text>;
                            break;
                        case 3:
                            <text>Asia</text>;
                            break;
                        case 4:
                            <text>America de Nord</text>;
                            break;
                        case 5:
                            <text>America de Sud</text>;
                            break;
                    }
                </div>
            </a>
        }
    }
</div>