@page
@using Lucrare_de_licenta.Models
@model Lucrare_de_licenta.Pages.SearchModel
@{
    ViewData["Title"] = "Pagina Principala";
    List<string> continente = new List<string>
    {
        "Europa","Africa","Asia","America de Nord","America de Sud"
    };
    List<Tara> lista_test = new List<Tara>
    {
        new Tara
        {
            cod_tara = 1,
            den_tara = "Portugalia",
            continent = 1,
            img_tara = "Resources\\Tari\\Portugalia.jpg"
        }
    };
}
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="d-md-none">
                <button class="btn btn-primary w-100 mb-2" data-bs-toggle="collapse" data-bs-target="#filter-sidebar">
                    toggle
                </button>
            </div>
            <nav id="filter-sidebar" class="d-md-block collapse filter-sidebar">
                <h4>Filtre de cautare</h4>
                <hr />
                <form method="get">
                    hgjfghfg
                </form>
            </nav>
        </div>
    <div class="col ms-sm-auto col px-md-4">
        <ul>
        @for(int i=0;i<5;i++)
        {
            <li>
                <strong></strong><br />
                Destinatie:<br />
                Start Date: <br />
                Price:
            </li>
        }
        </ul>
        </div>
    </div>
</div>