@using Microsoft.AspNetCore.Identity
@using Lucrare_de_licenta.Models

@inject SignInManager<Utilizator> SignInManager
@inject UserManager<Utilizator> UserManager

<div id="iden-container" class="flex-grow-0">
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="idenbtn text-dark" asp-area="Identity"
           asp-page="/Identity/Account/Logout" title="Manage">
                <img class="img-fluid" src="~/Resources/Icons/user.svg" style="width:25px" />
                <span class="idenbtn-text">Contul Meu</span>
        </a>
    }
    else
    {
        <a class="idenbtn text-dark" asp-area="Identity" 
        asp-page="/Identity/Account/Login">
            <img class="img-fluid" src="~/Resources/Icons/user.svg" style="width:25px"/>
            <span class="idenbtn-text">Conectare la cont</span>
        </a>
    }
</div>