@page "/Admin/Tours"
@model Lucrare_de_licenta.Pages.Admin.Tours.IndexModel
@{
    ViewData["Title"] = "Administrare Tururi si Oferte";
}
<div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h3>Tururi</h3>
                    <a class="btn btn-primary my-3"
                        asp-page="/Admin/Tours/Tururi/Add">
                        Adauga Tur
                    </a>
                    <a  class="btn btn-secondary"
                        asp-page="/Admin/Tours/Tururi/Index">
                        Vizualizare Tururi
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-5 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h3>Oferte</h3>
                    <a class="btn btn-primary my-3"
                        asp-page="/Admin/Tours/Oferte/Add">
                        Adauga Oferta
                    </a>
                    <a  class="btn btn-secondary"
                        asp-page="/Admin/Tours/Oferte/Index">
                        Vizualizare Oferte
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>