@page "/Admin/Tours"
@model Lucrare_de_licenta.Pages.Admin.Tours.IndexModel
@{
}
<div>
    <a asp-page="/Admin/Tours/AddTur">
        Adauga Tur
    </a><br />
    <a asp-page="/Admin/Tours/ViewTururi">
        Vizualizare Tururi
    </a><br />
    <a asp-page="/Admin/Tours/AddOferta">
        Adauga Oferta
    </a><br />
    <a asp-page="/Admin/Tours/ViewOferte">
        Vizualizare Oferte
    </a>
</div>