<link rel="stylesheet" href="/css/Identity/Manage/_AccountNav.css" />

<nav id="acc-nav" class="col-2">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" asp-page="./Index">Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="./ChangePassword">Schimbare parolă</a>
        </li>
        <li class="nav-item d-none">
            <a class="nav-link" asp-page="./TwoFactorAuthentication">Autentificare în doi pași</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="./Reservations">Rezervari</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="./Payments">Plati</a>
        </li>
        @{
            if (User?.Identity?.IsAuthenticated == true && User.IsInRole("admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Admin/index">Admin</a>
                </li>
            }
        }
    </ul>
</nav>