<link rel="stylesheet" href="/css/Identity/Manage/_AccountNav.css" />

<nav id="acc-nav" class="col-2">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="./Index">Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="./ForgotPassword">Schimbare parolă</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="./TwoFactorAuthentication">Autentificare în doi pași</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="./Reservations">Rezervari</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="./Payments">Plati</a>
        </li>
    </ul>
</nav>