@page
@model Lucrare_de_licenta.Pages.Identity.Account.Manage.ChangePasswordModel
@{
    ViewData["title"] = "Schimbare parola";
}
<div class="row gap-3">
    <partial name="_AccountNavPartial" />
    <form class="col-5">
        <h3 class="mb-4">@ViewData["Title"]</h3>
        <partial name="_StatusMessage" for="StatusMessage" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-floating mb-4">
            <input type="password" asp-for="Input.OldPassword" class="form-control" 
            autocomplete="current-password" placeholder="current-password"/> 
            <label asp-for="Input.OldPassword" class="form-label"></label>
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class ="form-floating mb-4">
            <input type="password" asp-for="Input.NewPassword" class="form-control" placeholder="new-password" />
            <label asp-for="Input.NewPassword" class="form-label"></label>
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-4">
            <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="new-password" />
            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Schimba Parola</button>
    </form>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial" />

}