@page "/admin"
@model Lucrare_de_licenta.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Meniul de Admininstrator";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/css/admin/index.css"/>
</head>
<div id="admin-container">
    <div class="navigation-">
        <nav class="navbar">
            <a></a>
        </nav>
    </div>

</div>