.card-header {
    background-color: var(--accent1);
    color: var(--background);
}
.physical-level-container {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.physical-level-bar {
    display: flex;
    justify-content:center;
    margin-bottom: 5px;
    padding: 10px
}

.level-segment {
    transition: fill 0.3s ease;
}

.level-segment.active {
    fill: var(--accent1);
    stroke: var(--background);
    stroke-width: 1px;
}

.level-segment.inactive {
    fill: transparent;
    stroke: lightgray;
    stroke-width: 1px;
    stroke-linecap: round;
}

.level-labels {
    font-size: 0.75rem;
    padding: 0 2px;
}

.itinerariu .accordion-button:not(collapsed) {
    background-color: var(--background);
    color: var(--text);
    font-weight: 500;
    font-family: quicksand;
    border: 2px solid var(--accent1);
}

.offer-card-horizontal {
    border-radius: 0.5rem;
    overflow: hidden; 
}

.offer-card-horizontal .bg-light {
    background-color: #f8f9fa !important;
}

@media (max-width: 767.98px) {
    .offer-card-horizontal .col-md-4 {
        justify-content: space-between !important; 
        border-top: 1px solid #dee2e6;
    }
    .offer-card-horizontal .col-md-7 {
        padding-bottom: 0.5rem;
    }
}